<web-app>

<servlet>
<servlet-name>RegisterEmp</servlet-name>
<servlet-class>RegisterEmp</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>RegisterEmp</servlet-name>
<url-pattern>/RegisterEmp</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>SigninEmp</servlet-name>
<servlet-class>SigninEmp</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>SigninEmp</servlet-name>
<url-pattern>/SigninEmp</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>SearchResult</servlet-name>
<servlet-class>SearchResult</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>SearchResult</servlet-name>
<url-pattern>/SearchResult</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>postAd</servlet-name>
<servlet-class>postAd</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>postAd</servlet-name>
<url-pattern>/postAd</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>SearchAds</servlet-name>
<servlet-class>SearchAds</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>SearchAds</servlet-name>
<url-pattern>/SearchAds</url-pattern>  
</servlet-mapping>
</web-app>
