#search2 {
	height: 40px;
	width: 50px;
	float: left;
	margin-left: 20px;
	margin-top: 5px;
	position: relative;
	display: inline-block;
}

.input1 {
	height: 30px;
	width: 200px;
	font-family: purisa;
	font-size: 20px;
	float: left;
	position: relative;
	border-width: 3px;
	vertical-align: top;
	display: inline-block;
	background-color: #cccccc;
	border-color: #0d0d0d;
	border-radius: 5px;
	margin: 5px;
}

#search2:hover {
	cursor: pointer;
}

.logo {
	float: left;
	height: 40px;
	width: 200px;
	padding-right: 10px;
	margin-top: 5px;
	margin-left: 5px;
}

.searchbar {
	width: 98%;
	height: 50px;
	z-index: 3;
	position: fixed;
	background-color: white;
}

#name {
	float: right;
	font-family: 'purisa';
	margin-right: 20px;
	font-size: 30px;
	margin-top: 5px;
}

#profile {
	float: right;
	height: 36px;
	width: 36px;
	border-radius: 36px;
	margin-right: 20px;
	margin-top: 5px;
}

#menuButton {
	float: right;
	height: 36px;
	width: 36px;
	margin-right: 20px;
	margin-top: 5px;
}

#menuButton:hover {
	cursor: pointer;
}

body {
	background: #e1e1e1 url(../images/main_bg.gif) repeat-x left top;
}

#leftMenu {
	float: left;
	width: 200px;
}

.content {
	position: absolute;
	top: 100px;
	width: 200px;
	margin: 10px;
	border: black 2px;
	margin-top: 80px;
}

.container2 {
	position: absolute;
	left: 300px;
	top: 200px;
	border-width: 2px;
	border-color: black;
}

.menu {
	display: none;
	background-color: orange;
	width: 130px;
	padding: 0px;
	margin-left: 5px;
	border-color: black;
	border-width: 20px;
	margin-top: 2px;
}

.submenu {
	background-color: darkblue;
	width: 200px;
	height: 40px;
	padding: 2px;
	list-style-position: inside;
	color: white;
	border: 1px solid black;
	text
}

.submenu:hover {
	cursor: default;
	background-color: white;
	color: darkblue;
}

.button {
	width: 200px;
	border-top: 1px solid #96d1f8;
	background: #65a9d7;
	background: -webkit-gradient(linear, left top, left bottom, from(#3e779d),
		to(#65a9d7));
	background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
	background: -moz-linear-gradient(top, #3e779d, #65a9d7);
	background: -ms-linear-gradient(top, #3e779d, #65a9d7);
	background: -o-linear-gradient(top, #3e779d, #65a9d7);
	padding: 8px 16px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	-moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
	color: white;
	font-size: 18px;
	font-family: Georgia, serif;
	text-decoration: none;
	vertical-align: middle;
}

.button:hover {
	border-top-color: #28597a;
	background: #28597a;
	color: #ccc;
	cursor: pointer;
}

.button:active {
	border-top-color: #1b435e;
	background: #1b435e;
}

#personalform {
	display: none;
}

#sr1 {
	display: none;
}

#sr2 {
	display: none;
}

#sr3 {
	display: none;
}

#sr4 {
	display: none;
}

#postad {
	display: none;
}

#board {
	display: none;
}

#workform {
	display: none;
}

#changepassword {
	display: none;
}
/*
#personalform{
display:none;
}
#personalform{
display:none;
}
#personalform{
display:none;
}
*/
label, input {
	/* in order to define widths */
	display: inline-block;
}

label+input {
	/* large margin-right to force the next element to the new-line
       and margin-left to create a gutter between the label and input */
	margin-right: 30%;
	margin-left: 10px;
}

/* only the submit button is matched by this selector,
   but to be sure you could use an id or class for that button */
input+input {
	float: right;
}

​
form {
	text-align: left;
	position: absolute;
	top: 50px;
	padding
	2px;
}

form input, select, textarea {
	color: white;
	font-family: purisa;
	background-color: grey;
	border-color: black;
	border-width: 2px;
	border-radius: 5px;
	font-size: 15px;
}

form label {
	color: #003399;
	width: 200px;
	white-space: nowrap;
	font-weight: 3px;
	height: 20px;
	text-align: left;
}

.select1 {
	color: black;
	font-family: purisa;
	height: 20px;
	background-color: #cccccc;
	border-color: #0d0d0d;
	border-width: 2px;
	border-radius: 5px;
	font-size: 10px;
}

textarea {
	width: 400px;
	color: black;
	font-family: purisa;
	background-color: #f2f2f2;
	border-color: #0d0d0d;
	border-width: 1px;
	border-radius: 0px;
}

textarea:focus {
	height: 80px;
}

.submit {
	border-top: 1px solid #96d1f8;
	background: #c47c7c;
	background: -webkit-gradient(linear, left top, left bottom, from(#d45d6d),
		to(#c47c7c));
	background: -webkit-linear-gradient(top, #d45d6d, #c47c7c);
	background: -moz-linear-gradient(top, #d45d6d, #c47c7c);
	background: -ms-linear-gradient(top, #d45d6d, #c47c7c);
	background: -o-linear-gradient(top, #d45d6d, #c47c7c);
	padding: 8.5px 17px;
	-webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	-moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
	color: white;
	font-size: 15px;
	font-family: Georgia, Serif;
	text-decoration: none;
	vertical-align: middle;
	height: 30px;
	width: 70px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 5px;
}

.button:hover {
	border-top-color: #28597a;
	background: #28597a;
	color: #ccc;
}

.button:active {
	border-top-color: #1b435e;
	background: #1b435e;
}

#workform {
	display: none;
}

#Searchresults {
	display: none;
	padding: 40px;
}
/*#rightmenu{ border-top: none;
  :none; -webkit-border-radius: 2px;   -moz-border-radius: 2px;   border-radius: 2px;
  -webkit-box-shadow: rg-webkit-border-radius: 2px;   -moz-border-radius: 2px;   border-radius: 2px; display:none;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;   box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;   color: black;   font-size: 18px;   font-family: Georgia, serif;   text-decoration: none;   vertical-align: middle;
   background-color: white; padding:0px; width:400px; display:flex;
  margin-top:20px;   border-top:none; border: 1px solid  black; border-radius:3px; position:absolute; top:80px; right:100px;

  width:100px; height:auto; padding:1px;
}*/
#rightmenu {
	position: absolute;
	top: 50px;
	right: 50px;
	display: none;
}

.submenu2 {
	width: 130px;
	height: 20px;
	width: 90px;;
	color: black;
	font-size: 80%;
	padding: 1px;
	list-style-position: inside;
	margin-right: 30px;
	border: black solid 1px;
}

.submenu2:hover {
	cursor: default;
	background-color: #cccccc;
}

h1 {
	color: darkblue;
}

a:link {
	color: auto;
	text-decoration: none;
}

a:visited {
	color: auto;
	text-decoration: none;
}

a:hover {
	color: auto;
	text-decoration: none;
}

a:active {
	color: auto;
	text-decoration: none;
}

#viewads {
	display: none;
}

#viewsearch {
	
}

.ad {
	border: grey solid 1px;
	color: grey;
	margin: 20px;
	display: inline-block;
}

.Name {
	height: 40px;
	width: 240px;
	border: none;
	text-align: center;
}

.SName {
	height: 40px;
	width: 240px;
	border: none;
	text-align: center;
}

.adid {
	height: 40px;
	width: 80px;
	border: none;
	text-align: center;
}

.adtitle {
	height: 40px;
	width: 320px;
	display: flex;
	text-align: left;
}

.workfield {
	height: 40px;
	width: 320px;
	border: none;
	text-align: center;
}

.apply {
	text-align: center;
	height: 40px;
	width: 320px;
	padding: 2px;
}

.description {
	text-align: justify;
	height: 80px;
	width: 320px;
	padding: 2px;
}

.left {
	text-align: left;
	height: 60px;
	width: 160px;
	float: left;
	padding: 2px;
}

.right {
	text-align: right;
	height: 60px;
	width: 160px;
	float: right;
	padding: 2px;
}

.item {
	display: flex;
	border: none;
}

.ad:hover {
	border: 2px #ffd633 solid;
	color: #666666;
	cursor: pointer;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

.ad hr {
	width: 300px;
}

#ad1 {
	display: none;
}

#ad2 {
	display: none;
}

#ad3 {
	display: none;
}

#ad4 {
	display: none;
}

#searchresult {
	display: none;
}

#skillform {
	display: none;
}

#expform {
	display: none;
}

#certform {
	display: none;
}

#project {
	display: none;
}

/
*#job {
	display: none;
}

#intern {
	display: none;
}

#training {
	display: none;
}